
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Social HOME PAGE</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1 {
            color: blue;
        }
       
    </style>
</head>
<body>
    <p align="left"><a href="/user/home/"> back to main page</a></p>
    <h1>Acces Acount</h1>
    <hr/>
    <form >
        <input type="text" placeholder="username..."/><br>
        <input type="password" placeholder="password..."/><br>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        <button>ENTER</button>
    </form>
    <hr>
    <p>{{ current_year }} &copy; PERSIDA corp</p>
</body>
</html>
